*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 50%;
  margin: 40px auto;
}


.film-details {
    float: right;
    width: 68%;
    padding: 0px;
    /* background:yellow */
}

figure.film-poster {
    float: left;
    max-width: 30%;
    position: relative;
    /*     margin:0px 8px 0 0  */
}

article.film {
    display: block;
    padding: 10px;
    border: 1px solid grey;
    position: relative;
    overflow: hidden;
}

.action-watch-later {
    position: absolute;
    top: 0;
    right: 4px;
    color: red;
}

.action-like {
    color: red;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
